*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-confettis {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 7px 0 rgb(160,160,160);
    font-size: 30px;
}
.btn-confettis:active {
    margin-top: 7px;
    box-shadow: 0 0px 0 rgb(160,160,160);
}
.slot {
    position: relative;
    perspective: 1000px;
}

#men{
    margin-left: 200px;
}

#women{
    margin-left: -200px;
}

#colorA{
    box-shadow: 0 7px 0 rgb(218, 104, 104);
    background-color: rgb(247, 198, 108);
}

#colorB{
    box-shadow: 0 7px 0 rgb(104, 218, 155);
    background-color: rgb(108, 184, 247);
}

h2{
    margin-top: 30px;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    text-align: center;
    color: aliceblue;
  }

